<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>반복 렌더링 디렉티브1</title>
</head>
<body>
    <div id="app">
        <h2>반복 렌더링 데스트</h2>
        <ul>
            <!-- <li v-for="(item, index) in items" :key="index">
                {{index}} : {{item}}
            </li> -->
            <li v-for="item in items" :key="num">
                {{item.num}} : {{item.name}}
            </li>
        </ul>
    </div>
</body>
<script src="https://unpkg.com/vue"></script>
<script>
    const vm = Vue.createApp({
        data() {
            return {
                // items : ['유가람', '홍길동', '장보고', '전우치', '임꺽정']
                items : [
                    {num : 11, name : '유가람'},
                    {num : 201, name : '홍길동'},
                    {num : 3333, name : '장보고'},
                    {num : 49, name : '전우치'},
                    {num : 59, name : '임꺽정'},
                ]
            }
        }
    }).mount('#app')
</script>
</html>