<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>클래스 적용2</title>
    <style>
        .btnColor {
            background-color: ivory;
            color: plum;
        }
        .btnLayout {
            width: 120px;
            height: 120px;
            text-align: center;
        }
        .btnBorder {
            border: red dashed 4px;
        }
        .staticStyle {
            font-size: 49px;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="checkbox" v-model="style.btnBorder">테두리<br>
        <input type="checkbox" v-model="style.btnColor">색<br>
        <input type="checkbox" v-model="style.btnLayout">레이아웃<br>
        <button class="staticStyle" :class="style">1테스트</button>
    </div>
</body>
<script src="https://unpkg.com/vue"></script>
<script>
    const app = Vue.createApp({
        name : 'test',
        data (){
            return {
                style : {btnColor : false, btnLayout : false, btnBorder : false}
            }
        }
    }).mount('#app')
</script>
</html>