<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.2.3/dist/css/bootstrap.min.css" />
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }
      .title {
        text-align: center;
        font-weight: bold;
        font-size: 20pt;
      }
      .todo-done {
        text-decoration: line-through;
      }
      .container {
        padding: 10px 10px 10px 10px;
      }
      .panel-borderless {
        border: 0;
        box-shadow: none;
      }
      .pointer {
        cursor: pointer;
      }
      [v-cloak]{display: none;}
    </style>
    <title>todoList 1</title>
</head>
<body>
    <div id="app" class="container" v-cloak>
        <div class="card card-body bg-light">
          <div class="title">:: Todolist App</div>
        </div>
        <div class="card card-default card-borderless">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col">
                <div class="input-group">
                  <input id="msg" v-model="todo" type="text" class="form-control" name="msg" placeholder="할일을 여기에 입력!" />
                  <span class="btn btn-primary input-group-addon" @click="addTodo()">추가</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <ul class="list-group">
                  <li class="list-group-item" :class="{ 'list-group-item-success': todo.completed }" v-for="todo in todoList" :key="todo.id">
                    <span class="pointer" :class="{ 'todo-done': todo.completed }" @click="toggleCompleted(todo.id)">{{todo.plan}}</span>
                    <span class="float-end badge bg-secondary pointer" @click="deleteTodo(todo.id)">삭제</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue"></script>
<script>
    let i = 0;
    let vm = Vue.createApp({
        name : 'test',
        data(){
            return {
                todo : '',
                todoList : [
                    { id : 1, plan : "복습", completed : true},
                    { id : 2, plan : "예습", completed : false},
                    { id : 3, plan : "알바", completed : false}
                ]
            }
        },
        methods: {
            // 1. 할 일 추가
            addTodo() {
                if (this.todo.trim() !== '') {
                    this.todoList.push({ id: i++, plan: this.todo, completed: false });
                    this.todo = '';
                }
            },

            // 2. 할 일 삭제
            // filter, 해당 아이디가 아닌 친구들만 남기기
            // 매개변수는 삭제를 클릭한 객체의 id 가 넘어와야함
            deleteTodo(id){
              this.todoList = this.todoList.filter(todo => todo.id !== id);
            },

            // 3. 완료
            // 해당 객체의 completed를 반전
            // findIndex(콜백함수);
            toggleCompleted(id){
                let index = this.todoList.findIndex((item) => id === item.id);
                this.todoList[index].completed = !this.todoList[index].completed;
            }
        },
    }).mount('#app');
</script>
</html>